@import url('https://fonts.googleapis.com/css?family=Oswald');

.hero-wrapper {
    position: relative;
    z-index: 10;
}

.hero-img {
    max-height : 500px;
    min-width : 100%;
    background-size:100% 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slogan-wrapper {
    position: absolute;
    bottom: 260px; left: 20px;
    font-family: 'Oswald';
}

.slogan-text {
    font-size: 32px;
    font-weight: 600;
    color: white;
    text-shadow: 3px 3px black;
}

.requestBid-btn {
    margin-top: 12px;
    background-color: var(--light);
    border: 4px solid black;
    width: fit-content;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 4px 6px rgba(15, 15, 15, .8);
}

.requestBid-btn:active {
    box-shadow: 4px 2px rgb(0, 0, 0);
    transform: translateY(4px);
}

.requestBid-btn:hover {
    cursor: pointer;
    background-color: var(--white);
}

.requestBid-text {
    font-size: x-large;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 40px;
    color: var(--dark);
    text-decoration: none;
    position: relative;
}

.hero-quote-icon {
    position: absolute;
    top: 28px; right: 12px;
}

@media screen and (max-width: 1200px) {
    .hero-img {
        height: fit-content;
        width: 100%;
    }

    .slogan-wrapper {
        bottom: 12px;
    }
}

@media screen and (max-width: 768px) {
    .hero-img {
        min-height: 250px;
    }

    .slogan-wrapper {
        width: 100%;
    }

    .slogan-text {
        display: none;
    }

    .requestBid-btn {
        margin-top: 4px;
        border: 2px solid black;
        padding-top: 4px;
        padding-bottom: 4px;
        box-shadow: 2px 4px rgba(15, 15, 15, .6);
    }

    .requestBid-btn:active {
        box-shadow: 0 2px rgb(0, 0, 0);
        transform: translateY(2px);
    }

    .requestBid-text {
        font-size: medium;
    }

    .hero-quote-icon {
        top: 20px;
    }
}